* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "MyriadPro", sans-serif;
}

.header {
  background-color: #f8f8f8;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-wrapper .title {
  padding-left: 30px;
  text-transform: uppercase;
  color: #023333;
  width: 100%;
  text-align: center;
}

.logo img {
  width: 100px;
}

main form {
  width: 70%;
}

.modal-body img {
  margin-right: 20px;
  margin-left: 5px;
}

.partner {
  display: flex;
}
.partner .partner-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.partner .partner-item img {
  margin-right: 10px;
}
.partner .partner-item .title {
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 992px) {
  main form {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .logo-wrapper {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
  .logo-wrapper .title {
    padding-left: 0;
    padding-top: 30px;
  }

  main .form-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  main form {
    width: 100%;
  }

  .partner {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
